<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tried Reaching Out</title>
    <link rel="icon" href="https://play-lh.googleusercontent.com/3V4ulw7nvRC0ZyteV2vkaJDqyiq-PHNcijWL9CaX75Aqrctfws5pD3I6FQyhsZkmJg=s180-rw" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>.button-explore:hover {background-color:#0c9171}
.button-explore-white:hover {background-color:#f5f5f5}
@media only screen and (max-width: 860px) {
    .paragraph-tag-details {
        margin-left: 3%
        }
    }
@media only screen and (max-width: 800px) {
    .paragraph-tag-details {
        margin-left: 1%
        }
    .property-title-container {
        max-width: 380px
        }
    }
@media only screen and (max-width: 670px) {
    .property-title-container {
        max-width: 300px
        }
    }
@media only screen and (max-width: 600px) {
    .property-title-container {
        max-width: 280px
        }
    }
@media only screen and (max-width: 500px) {
    /* Top Bar Media Query for small screen */
    body {
        background-color: white
        }
    /* Content Content Media Query */
    .button-explore {
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid;
        padding: 10px 20px;
        background: #0CB88F;
        color: #FFF
        }
    .paragraph-content {
        font-size: 15px
        }
    .float-action-button {
        clear: both
        }
    .comparison-table-content td, .comparison-table-content th {
        font-size: 14px;
        padding: 3px
        }
    /* Footer Bar Media Query */
    .footer-copyright {
        margin-top: 5px;
        font-size: 14px
        }
    .footer-logo-div-wrapper {
        width: 48%
        }
    .footer-logo-description {
        font-size: 11px
        }
    .footer-logo-div {
        padding: auto 1%;
        margin-bottom: 30px
        }
    .footer-logo-responsive {
        clear: both
        }
    }
@media only screen and (max-width: 450px) {
    .nav-logo-icon1 {
        width: 110px
        }
    .nav-logo-icon2 {
        width: 15px
        }
    .paragraph-content {
        font-size: 14px
        }
    .button-explore {
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid #0CB88F;
        padding: 10px 20px;
        background: #0CB88F;
        color: #FFF;
        font-size: 12px;
        font-weight: 600;
        min-width: 270px
        }
    .button-explore2 {
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid #0CB88F;
        background: #FFF;
        padding: 8px 22px;
        font-size: 13px;
        font-weight: 600;
        line-height: 15px;
        color: #039688
        }
    .button-explore-white {
        font-size: 13px
        }
    .footer-logo-follow {
        height: 20px;
        width: 20px;
        margin: -6px auto
        }
    .footer-logo-play-store {
        height: 16px;
        width: 14px;
        margin-right: 4px;
        margin-left: 4px
        }
    .footer-logo-apple-store {
        height: 18px;
        width: 16px
        }
    .profile-picture-receiver {
        font-size: 12px
        }
    }
@media only screen and (max-width: 400px) {
    .logo-img-responsive {
        width: 137px;
        height: 35px
        }
    }
@media only screen and (max-width: 350px) {
    .logo-img-responsive {
        width: 130px;
        height: 34px
        }
    .nav-logo-icon1 {
        width: 90px;
        height: 31px
        }
    .nav-logo-icon2 {
        width: 12px;
        height: 17px
        }
    }</style>
</head>

<body style='font-family:"Source Sans Pro", sans-serif'>
<div>

    <table style='font-family:"Source Sans Pro", sans-serif; margin:0 auto; width:100%; background-color:#fff; border-collapse:collapse; max-width:870px; border:1px solid #ececec' class="table" width="100%" bgcolor="#ffffff">
        <tbody>
        <tr>
            <td class="tableouter" style="color:#525252; padding:0; text-align:left; border-radius:0 0 3px 3px; overflow:hidden" align="left">
                <footer style="background-color:white;  margin:0 auto; max-width:870px" bgcolor="#F1F2F8">
                    <div style="text-align: center;">
                        <table cellpadding="0" cellspacing="0" border="0" style='font-family:"Source Sans Pro", sans-serif; margin:0 auto; width:100%' width="100%">
                            <tr>
                                <td class="footer-follow" style="color:#464646; padding:14px 14px 14px 5px; text-align:start; clear:both; font-size:14px; font-style:normal; font-weight:400; margin:auto; width:100%" align="center" width="100%">
                                    <a href="https://www.syncfusion.com/" class="footer-link" style="color:#464646; display:inline-block; padding-left:5px; vertical-align:middle" valign="middle">
                                        <img class="footer-logo-follow" src="https://cdn.syncfusion.com/hood-static-contents/email/img/hood-icon.png" alt="" style="height:24px; margin:0 auto; width:50px; display:block" height="24" width="24">
                                    </a>
                                    <span style="font-family:Helvetica,Arial,sans-serif; font-size:14px; line-height:40px; text-align:left; color:#464646; display:inline-block; vertical-align:middle; height:40px" align="left" valign="middle" > Syncfusion Forum</span>
                                    <a href="https://play.google.com/store/apps/details?id=com.app.syncfusion" class="footer-link" style="color:#464646; display:inline-block; padding-left:5px; vertical-align:middle;" valign="middle">
                                        <img class="footer-logo-play-store" src="https://assets.syncfusion.com/nob-merchandise/play-store.png" alt="" style="height:20px; margin-right:8px; width:17px; display:inline-block; vertical-align:middle" height="20" width="17" valign="middle">
                                    </a>
                                    <a href="https://apps.apple.com/us/app/syncfusion-manage-visitors/" class="footer-link" style="color:#464646; display:inline-block; padding-left:5px; vertical-align:middle" valign="middle">
                                        <img class="footer-logo-apple-store" src="https://assets.syncfusion.com/nob-merchandise/apple.png" alt="" style="height:22px; width:18px; display:inline-block; vertical-align:middle" height="22" width="18" valign="middle">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </footer>
                <table width="100%" style='font-family:"Source Sans Pro", sans-serif; margin:auto; width:100%; border-spacing:0'>
                    <tr>
                        <td style="color:rgba(26, 26, 26, 0.856); padding:0; text-align:left; font-size:0" align="left">
                            <div class="outerWrapper" style="border-top:1px solid #ddd;  width:100%" width="100%">
                                <div class="innerWrapper">
                                    <table width="100%" style='font-family:"Source Sans Pro", sans-serif; margin:auto; width:100%'>
                                        <tr>
                                            <td class="detailWrapper" style="color:rgba(26, 26, 26, 0.856); padding:4px 0 4px 10px; text-align:left; width:100%" align="left" width="100%">
                                                <div>
                                                    <a href="{{viewDiscussionDeepLink}}">
                                                    <div class="content-sender-details" style="padding-top:5px">
                                                        <div class="profile-container-receiver" style="display:inline-block; vertical-align:top" valign="top">
                                                            <div class="profile-picture-receiver" id="author-initials" style="background-color:#e74c3c; border-radius:50%; color:#fff; display:inline-table; font-size:16px; height:40px; text-align:center; width:40px" bgcolor="#e74c3c" height="40" align="center" width="40"><p class="author-initial-inner" style="text-align:center; display:table-cell; vertical-align:middle" align="center" valign="middle">{{authorInitials}}</p></div>

                                                            <div class="property-title-container-receiver" style="display:inline-block; font-weight:bold; text-align:left; vertical-align:top; margin:2px 1px;" align="left" valign="top">
                                                                <p class="profile-name-container-receiver" style="text-align:left; margin:0 7px; margin-left:1px;" align="left">
                                                                    <label class="profile-name" style="color:#4D4D4D; font-size:12px; font-weight:600; line-height:1.4em">{{authorName}}</label>

                                                                </p>
                                                                <p class="profile-name-container-receiver" style="text-align:left; margin:0 3px" align="left">
                                                                    <label class="profile-subdetails-receiver" style="color:#999;font-size:10px;/* max-width: 120px; */font-weight:400;/* width: 20px; */display: inline-block;max-width: 99px;/* overflow: auto; */text-overflow: ellipsis;white-space: nowrap;/* height: 10px; */overflow: hidden;/* height: 20px; *//* height: 100%; *//* line-height: 29px; */vertical-align: top;">{{authorDesignation}}</label>
                                                                    <label class="profile-subdetails-separator-receiver" style="background:#D9D9D9; border:1px solid #D9D9D9; border-radius:50%; color:#D9D9D9; display:inline-block; height:2px; margin:1px 4px; width:2px" height="2" width="2"></label>
                                                                    <label class="profile-subdetails-receiver" style="color:#999; font-size:10px; font-weight:400"> {{sentDate}}</label>
                                                                    <br>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </a>
                                                    <p class="paragraph-content" style="text-align:left;font-size:14px;font-weight:600;line-height:1.5;margin-bottom:0;margin-top:1px;/* padding-left: 42px; */padding-top:3px;margin-left: 42px;" align="left">{{subject}}</p>
                                                    <p class="paragraph-main-content" style="text-align:left;font-size:12px;line-height:1.3;margin-bottom:20px;margin-left: 44px;margin-top: 10px; white-space: pre-wrap;" align="left">{{{emailText}}}</p>

                                                </div>
                                            </td>
                                        </tr>

                                    </table>
                                </div>

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="    color: rgba(26, 26, 26, 0.856);padding: 5px 0px;text-align: left;border: 1px solid rgba(0,0,0,0.1);" align="left">
                            <div class="buttonWrapper" style="    display: inline-block;
                            color: #787878;
                            text-align: center;
                            vertical-align: top;
                            width: 100%;
                            font-size: 11px;
                            " align="center" valign="top" width="100%">
                                Reply to this email or
                                <a href="{{viewDiscussionDeepLink}}" target="_blank">
                                    view it on Syncfusion App
                                </a>
                            </div>
                            <div class="create-new-post" style="    display: inline-block;
                            color: #787878;
                            text-align: center;
                            vertical-align: top;
                            width: 100%;
                            font-size: 11px;
                            " align="center" valign="top" width="100%">
                                Create a new Forum by emailing to
                                <a href="mailto:{{societyEmail}}" target="_blank">
                                    {{societyEmail}}
                                </a>
                            </div>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>